<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>BikesMart</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="static/admin/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="static/admin/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  -->
    <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesoeet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
    <style>
   .add-to-cart {
      text-align: center;
   }

   .add-to-cart .txt {
      font-weight: bold;
   }

    </style>
</head>
<body>
<!-- banner bg main start -->
<div class="banner_bg_main">
    <!-- header top section start -->
    <div class="container">
        <div class="header_section_top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom_menu">
                        <ul>
                            {% if user.is_authenticated %}
                            <li><a href="/my-profile">Hello {{request.user}} !</a></li>
                            {% else %}
                            <li><a href="/">BikesMart</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li><a href="/my-order">My Orders</a></li>
                            {% endif %}
                            <li><a href="/">Blogs</a></li>
                            <li><a href="/send-feedback">Send Feedbacks</a></li>
                            <li><a href="/aboutus">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br><br>
    <!-- header top section start -->
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <div class="containt_main">
                <div class="dropdown">
                    {% if user.is_authenticated %}
                    <a href="/logout" class="btn btn-secondary">Logout</a>
                    {% else %}
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login/Signup
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/customerlogin">Login</a>
                        <a class="dropdown-item" href="/customersignup">Signup</a>
                    </div>
                    {% endif %}
                </div>
                <div class="main">
                    <!-- Another variation with a button -->
                    <form action="/search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" type="search"
                                   placeholder="Search for Products and more..." name="query" id="query">

                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit"
                                        style="background-color: #f26522; border-color:#f26522 ">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="header_box">
                    <div class="login_menu">
                        <ul>
                            <li><a href="/cart">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span class="padding_10">Cart {{ product_count_in_cart }}</span></a>
                            </li>
                            <!--                           <li><a href="#">-->
                            <!--                              <i class="fa fa-user" aria-hidden="true"></i>-->
                            <!--                              <span class="padding_10">Ca</span></a>-->
                            <!--                           </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br><br><br><br>
<div class="aboutbg">
    <h1 style="text-align:center;" );><b>Bike Store and Blog Online web application. </b></h1>
    <h2>This is an online Bike and bike parts store that has
        listings of various bike along with their features. This system allows user to buy bike, bike parts and
        inventory online. System allow user to check various
        articles submitted by user. After registration user can login to
        the system with his username and password in order
        to access the system. User can check various bike
        listing and can view each bikes feature. User can also
        check features of the bike as well as inventory parts,
        and accessories. User may select the product and can
        add the product to shopping cart. User must register himself for
        posting an article. This application is a combination
        of both sales and inventory management of the bike
        and bike parts. User can easily purchase bike or bike
        parts by using this system user does not have to come
        manually to shop to purchase the product. User can
        view the bike and bike parts in effective Graphical
        User Interface. User can view features of each
        product and can compare the products in order to
        purchase a better product</h2>
    <br><br><br><br>
</div>

<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_menu">
            <ul>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/send-feedback">Send Feedbacks</a></li>
                <li><a href="/blogs">Blogs</a></li>
            </ul>
        </div>
        <div class="location_main">9823456789, 9803214569 <br> <a href="#">info@bikesmart.com</a></div>
    </div>

    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">Copyright @{% load copyrighttags %}
                {% getCopyrightYears %} All Right Reserved. <a
                        href="https://www.facebook.com/profile.php?id=100091049813458">BikesMart</a></p>
        </div>
    </div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script src="{% static 'admin/js/popper.min.js' %}"></script>
<script src="{% static 'admin/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'admin/js/plugin.js' %}"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }

         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }

</script>
</body>
</html>