<html>
{% load static %}
<body>
{% include "ecom/customer_navbar.html" %}
<!-- content start-->
{% block content %}

{% endblock content %}
<!-- content end-->
<br><br><br>
<script>
$(document).ready(function(){

function openNav() {
document.getElementById("mySidenav").style.width = "70%";

document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
document.getElementById("mySidenav").style.width = "0";
document.body.style.backgroundColor = "rgba(0,0,0,0)";
}


});
</script>

</body>
</html>
