{% load widget_tweaks %}
{% block content %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>BikesMart</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="static/admin/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="static/admin/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesoeet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   <style>
   .add-to-cart {
      text-align: center;
   }

   .add-to-cart .txt {
      font-weight: bold;
   }
     .details-box {
    background-color: #f0f0f0;
    padding: 10px;
  }
</style>



   </head>
   <body>
      <!-- banner bg main start -->
      <div class="banner_bg_main">
         <!-- header top section start -->
         <div class="container">
            <div class="header_section_top">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="custom_menu">
                        <ul>
                            <li><a href="/my-profile">Hello {{request.user}} !</a></li>
                            <li><a href="/my-order">My Orders</a></li>
                           <li><a href="/blogs">Blogs</a></li>
                           <li><a href="/send-feedback">Send Feedbacks</a></li>
                           <li><a href="/aboutus">About Us</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div><br><br><br>
         <!-- header top section start -->
         <!-- header section start -->
         <div class="header_section">
            <div class="container">
               <div class="containt_main">

                  <div class="dropdown">
<!--                     <input type="submit" <a href="/logout" class="btn btn-green btn-sm pull-right" value="Submit">-->
                     <a href="/logout" class="btn btn-secondary">Logout</a>
<!--                     <a href="/tools/code-editor/239" target="_blank" class="btn btn-green" itemprop="url">-->
<!--					Try it Yourself »-->
<!--				</a>-->
<!--                     <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logout-->
<!--                     </button>-->
<!--                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                        <a class="dropdown-item" href="/customerlogin">Login</a>-->
<!--                        <a class="dropdown-item" href="/customersignup">Signup</a>-->
<!--                     </div>-->
                  </div>
                  <div class="main">
                     <!-- Another variation with a button -->
                     <form action="/search" method="get">
                     <div class="input-group">
                           <input type="text" class="form-control" type="search" placeholder="Search for Products and more..." name="query" id="query">

                           <div class="input-group-append">
                              <button class="btn btn-secondary" type="submit" style="background-color: #f26522; border-color:#f26522 ">
                                 <i class="fa fa-search"></i>
                              </button>
                           </div>
                     </div>
                     </form>
                  </div>
                  <div class="header_box">
                     <div class="login_menu">
                        <ul>
                           <li><a href="/cart">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10">Cart {{ product_count_in_cart }}</span></a>
                           </li>
<!--                           <li><a href="#">-->
<!--                              <i class="fa fa-user" aria-hidden="true"></i>-->
<!--                              <span class="padding_10">Ca</span></a>-->
<!--                           </li>-->
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div><br>
         <!-- header section end -->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <br><br><br>
  <h2><center><b>Edit Profile</b></center></h2>
  <div class="container register-form">
    <div class="form">
      <div class="note">

      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.username class="form-control" placeholder="Username" %}
            </div>
            <div class="form-group">
              {% render_field customerForm.mobile class="form-control" placeholder="Mobile" %}
            </div>
            <div class="form-group">
              {% render_field customerForm.profile_pic class="form-control" placeholder="Profile Picture" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.password class="form-control" placeholder="Password" %}
            </div>
            <div class="form-group">
              {% render_field customerForm.address class="form-control" placeholder="Address" %}
            </div>

          </div>
        </div><center>
        <button type="submit" class="btn btn-primary">Save</button></center>

      </div>
    </div>
  </div>
</form>
{% endblock content %}
