{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    .alert {
      margin-left: 25%;
      margin-right: 25%;
      padding: 20px;
      background-color: #0A4171;
      color: white;
    }

    .w3-panel p {
      padding-top: 10px;
    }

    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .closebtn:hover {
      color: black;
    }
  </style>
</head>
{%for f in feedbacks%}
<div class="alert">
  <a class="closebtn" onclick="this.parentElement.style.display='none';"  href="{% url 'remove-from-feedback' f.id  %}" >&times;</a>
  <strong>{{f.date}} || {{f.name}} </strong><br> {{f.feedback}}
</div>
{%endfor%}
{% endblock content %}
